body{
  background-color:powder blue;
}
h1{
  color:  #66BFBF;
}
h2{
  color: #66BFBF;
}
hr{
 background-color:#F5FFFA;
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;

 width: 5%;

}
